*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
body{
	color: #171E30 !important;
}
.App {
	/* background-color: #f9fafc; */
	height: 100vh;
}

.App-logo {
	height: 28px;
	pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
	.App-logo {
	}
} */

/* position: absolute; */
/* width: 1436px; */
/* height: 72px; */
/* left: 2px;
top: 0px;

background: #FFFFFF; */

.App-header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: fixed;
	top: 0px;
	left: 2px;
	width: 100%;
	/* height: 10vh; */
	height: 72px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
	background-color: #FFFFFF;
}
/* position: absolute; */

.Container {
	position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 4.1%;
    top: 31%;
}

.App-link {
	color: #61dafb;
}

.App-Content {
	position: relative;
	padding: 16px;
	background: #fff;
	top: 73px;
	height: calc(100vh - 168px);
}

.Info {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	margin: 0px;
	font-size: 32px;
}

.Info p {
	margin-bottom: 20px;
}

.Placeholder {
	width: 240px;
	height: 240px;
	margin-bottom: 16px;
}

.PlaceholderTitle {
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.75px;
}
.Footer{
	margin-top: 1000px;
}

.main{
	margin-top: 73px;
	width: 100%;
	display: flex;
	/* justify-content: stretch; */
}
.main .items{
	/* min-width: 726px; */
	display: inline-block;;
}
.items{
	margin-top: 1rem;
	width: 65%;
	
	/* margin-left: 2%; */
	margin-right: 2%;
	display: flex;
    /* flex-direction: column; */
}
.items-test{
	margin-left: 6%;
	margin-right: 2%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 3%;
}
.your-orders{
	position: fixed;
	width: 35%;
	border-left: 1px solid #E1E3EA;
	right: 0%;
	height: 67vh;
	min-height: 67vh ;
	overflow: scroll;
}

/* .cart-fixed{
	margin-top: 3rem;
} */
/* .items{
	width: 70%;
} */
.empty-cart{
    display: block !important;
    height: 300px;
}
.empty-cart *{
	display: block!important;
    height: 300px;

}

.cart-header{
    margin-top: 1.7rem !important;
    display: flex;
    /* position: fixed; */
    /* right: 15%; */
    justify-content: flex-start;
    align-items: center;
    margin-left: 0.7rem;
}
.cart-header p{
	font-size: 22px;
    font-weight: bold;
}
.empty-cart{
	position: absolute;
	right: 10%;
	top: 15%;
}
.empty-cart img{
	width: 80%;
}
.empty-cart p{
	color: #B7BAC3;
	font-size: 18px;
	font-weight: 500;
}
.total{
	position: fixed;
}
.Footer{
	position: fixed;
	right: 0%;
	width: 35%;
	bottom: 0%;
	padding-top: 0.5rem;

	display: flex;
	flex-direction: column;
    /* left: 0%;÷ */
    /* display: flex; */
}
.delivery-fee{
	margin: 0.2rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.order-total{
	margin: 0.2rem 1rem;
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.total-pay{
	margin: 0.2rem 1rem;
	display: flex;
    justify-content: space-between;
	align-items: center;
}
.proceed-pay button{
	/* display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14.5px 93px 14.5px 92px; 
/* gap: 10px; */

/* position: absolute; */
/* width: 300px;
height: 48px; */
/* left: 965px;
top: 675px; */

/* Offer/Fill */
cursor: pointer;
	display: flex;
	border: 0;
	padding: 14.5px 93px 14.5px 92px; 
	font-size: 17px;
	font-family: 'Montserrat', sans-serif!important;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: #fff;
	width: 90%;
	background-color: #5A27CF;
	border-radius: 8px;
}
.proceed-pay{
	margin-top: 0.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
}