.App {
	background-color: #f9fafc;
	height: 100vh;
}

.App-logo {
	height: 28px;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
	}
}

.App-header {

	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 72px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
	background-color: #fff;
}

.Container {
	width: 100%;
	margin: 0 auto;
	max-width: 1300px;

}

.App-link {
	color: #61dafb;
}

.App-Content {
	display: flex;
	flex-direction: row;
	position: relative;
	padding: 16px;
	background: #ffffff;
	top: 76px
	
}

.Info {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	margin: 0px;
	font-size: 32px;
}

.Info p {
	margin-bottom: 20px;
}

.Placeholder {
	width: 240px;
	height: 240px;
	margin-bottom: 16px;
}

.PlaceholderTitle {
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.75px;
}
.Prods-Cont
{
	width: 65%;
	height: 100%;
	display: flex;
    flex-flow: row wrap;
	
	
}
.check-com
{
	
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    height: 80vh;
	padding: 1%;
	padding-left: 3%;
	
	
	
}
.but-fon
{
	font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 16px;
}
.prod-type-head
{
    font-weight: 600;
font-size: 28px;
line-height: 33px;
margin-bottom: 3%;
border-bottom: 1px solid #E1E3EA;
width: 59vw;
padding-bottom: 1%;

}
.prod-qty-font
{


color: #6F7588;
font-weight: 400;
font-size: 24px;
line-height: 28px;
}

.price-qty-cont
{
	margin-left: 59%;
	border-left: 1px solid #E1E3EA;
	width: 30%;
	position: fixed;
	height: 100%;
	
}

.c-cart-fs
{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
   
}

.c-heading-cont
{
    display: flex;
    flex-direction: row;
    justify-content: center;
	gap: 46%;
    border-bottom: 1px solid #E1E3EA;
    width: 95%;
}
.c-order-h
{
    width: 40%;
    
    padding-bottom: 4%;
}
.c-clear-c
{
    font-weight: 600;
font-size: 14px;
line-height: 20px;
width: 23%;
color: #5A27CF;
margin-top: 1%
}
.c-em-oh
{
	
    width: 95%;
	padding-bottom: 3%;
}

.c-mar
{
	margin-left: 3%;
}
.t-total-cont
{
	border-top: 1px solid black;
}

.cursor
{
    cursor: context-menu;;
}

.c-cart-img
{
    width: 257px;
    display: block;
  margin-left: 10%;
  margin-right: auto;
  margin-top: 30%;
   
}
